@model IEnumerable<WebMarket.Models.Security.Role>

@{
    ViewData["Title"] = "RoleIndex";
}

<h2>RoleIndex</h2>

<p>
    <a asp-action="RoleCreate">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var role in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => role.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "roleUpdate", new {  id=role.Id }) |
                @Html.ActionLink("Details", "roleDetails", new { id = role.Id }) |
                @Html.ActionLink("Delete", "roleDelete", new { id = role.Id })
            </td>
        </tr>
}
    </tbody>
</table>
